.root {
    -fx-main-color: #44475a;
    -fx-secondary-color: #6272a4;
    -fx-secondary-hover-color: #282a36;
    -fx-font-color: #f8f8f2;
    -fx-accent-color: #bd93f9;

    -fx-background-color: -fx-main-color;
    -fx-text-fill: -fx-font-color;
}

/* GENERAL */

* {
    -fx-fill: -fx-font-color;
    -fx-text-fill: -fx-font-color;
}

.header {
    -fx-padding: 10px 5px;

    -fx-font-weight: bold;
}

.header .head-1{
    -fx-font-size: 23px;
}

.header .head-2{
    -fx-font-size: 15px;
}

.header .head-book {
    -fx-font-size: 24px;
}

.main {
    -fx-padding: 5px;
}

.toolbox {
    -fx-border-width: 2px 0 0 0;
    -fx-border-style: dashed;
    -fx-border-color: -fx-accent-color;
}

.tool-bar {
    -fx-background-color: transparent;
    -fx-padding: 10px 0;
}

.button {
    -fx-background-color: -fx-secondary-color;
}

.button:hover {
    -fx-background-color: -fx-accent-color;
    -fx-cursor: hand;
}

.search-bar {
    -fx-background-color: -fx-secondary-color;
    -fx-font-weight: bold;

    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: transparent;

    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.search-bar:focused {
    -fx-border-color: -fx-accent-color;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background,
.table-view .column-header {
    -fx-background-color: -fx-secondary-color;

    -fx-border-color: transparent;
}

.table-view .column-header-background .label {
    -fx-padding: 5px;

    -fx-text-fill: -fx-font-color;
    -fx-font-size: 0.8em;
    -fx-alignment: CENTER-LEFT;
}

.table-view .table-column {
    -fx-border-width: 0 0 1px;
    -fx-border-color: -fx-secondary-color;
}

.table-view .table-column-cell {
    -fx-background-color: transparent;
}

.table-view .table-row-cell {
    -fx-padding: 5px;

    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: -fx-font-color;
}

.table-view .table-row-cell:empty .table-cell {
    -fx-border-width: 0;
}

